.big-button {
	background-color: $purple;
	border: none;
	border-bottom: 0.6rem solid darken($purple, $amount: 10%);
	color: white;
	font-weight: bold;
	font-size: $l-size;
	width: 100%;
	margin-bottom: $l-size;
	padding: 2.4rem;
}
.big-button:disabled {
	opacity: 0.5;
}

.button {
	padding: $s-size;
	background-color: $purple;
	color: white;
	font-weight: 500;
	font-size: $s-size;
	border: none;
	border-bottom: 0.3rem solid darken($color: $purple, $amount: 10%);
}

.button--link {
	padding: 0;
	background: none;
	color: $off-white;
	border: none;
}

@media (max-width: $desktop-breakpoint) {
	.big-button {
		margin: 0 0 $m-size 0;
	}
}
