.header {
	background: $off-black;
	margin-bottom: $l-size;
	padding: $m-size 0;
	color: #cdcfd8;
}

.header__title {
	font-size: $l-size;
	margin: 0;
}

.header__sub-title {
	color: $off-white;
	font-size: $m-size;
	font-weight: 400;
	margin: 0;
}
