.widget {
	background: $light-blue;
}

.widget-header {
	background: $blue;
	color: $off-white;
	padding: $s-size;
	display: flex;
	justify-content: space-between;
}

.options__header {
	margin: 0;
}
